*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(166, 237, 100);
}
.Slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.Slides{
    width: 100%;
    height: 500px;
    display: flex;
}
.Slides input{
    display: none;
}
.slide{
    width: 100%;
    transition: 2s;
}
.slide img{
    width: 800px;
    height: 500px;
}

/* manual naviganion */
.navigation-manual{
    position: absolute;
    width: 800px;
    display: flex;
    justify-content: center;
    margin-top: -40px;
}
.manual-btn{
    border: 2px solid rgb(132, 219, 50);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: rgb(132, 219, 50);
}
#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: -100%;
}
#radio3:checked ~.first{
    margin-left: -200%;
}
#radio4:checked ~.first{
    margin-left: -300%;
}
#radio5:checked ~.first{
    margin-left: -400%;
}
/* automatic navigation */
.navigation-auto{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 800px;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid rgb(132, 219, 50);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: chartreuse;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: chartreuse;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: chartreuse;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: chartreuse;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background: chartreuse;
}